@page "/adult"
@using Assignment1.Data
@using Models
@attribute [Authorize(Policy = "MustBeLoggedIn")]

@inject IAdultService AdultService;

<h1>You're logged in and can add an adult!</h1>
<EditForm Model="@adultToAdd" OnValidSubmit="Add">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <a>First Name:</a>
    <input type="text" @bind-value="adultToAdd.FirstName"/>
    <br/>
    <a>Last Name:</a>
    <input type="text" @bind-value="adultToAdd.LastName"/>
    <br/>
    <a>Hair Color:</a>
    <input type="text"@bind-value="adultToAdd.HairColor"/>
    <br/>
    <a>Eye Color:</a>
    <input type="text" @bind-value="adultToAdd.EyeColor"/>
    <br/>
    <a>Age:</a>
    <input type="text" @bind-value="adultToAdd.Age"/>
    <br/>
    <a>Height:</a>
    <input type="text" @bind-value="adultToAdd.Height"/>
    <br/>
    <a>Weight:</a>
    <input type="text" @bind-value="adultToAdd.Weight"/>
    <br/>
    <a>Sex:</a>
    <input type="text" @bind-value="adultToAdd.Sex"/>
    <br/>
    <a>Job:</a>
    <input type="text" @bind-value="adultToAdd.JobTitle"/>
    <br/>
    <input type="submit" class="btn btn-primary" value="Add Adult" />
</EditForm>

@code {
    Adult adultToAdd = new Adult();

    public void Add()
    {
        AdultService.Add(adultToAdd);
    }

}