@page "/adult"
@using Assignment1.Data
@using Models
@attribute [Authorize(Policy="MustBeLoggedIn")]

@inject AdultService AdultService;

<h1>You're logged in and can add an adult!</h1>
<form>
    <a>First Name:</a>
    <input type="text" @bind-value="firstName"/>
    <br />
    <a>Last Name:</a>
    <input type="text" @bind-value="lastName"/>
    <br />
    <a>Hair Color:</a>
    <input type="text"@bind-value="hair"/>
    <br />
    <a>Eye Color:</a>
    <input type="text" @bind-value="eyes"/>
    <br />
    <a>Age:</a>
    <input type="text" @bind-value="age"/>
    <br />
    <a>Height:</a>
    <input type="text" @bind-value="height"/>
    <br />
    <a>Weight:</a>
    <input type="text" @bind-value="weight"/>
    <br />
    <a>Sex:</a>
    <input type="text" @bind-value="sex"/>
    <br />
    <a>Job:</a>
    <input type="text" @bind-value="job"/>
    <br />
    <button @onclick="Add">Add Adult</button>
</form>

@code {
    private string firstName; 
    private string lastName;
    private string hair;
    private string eyes;
    private int age;
    private int height;
    private int weight;
    private string sex;
    private string job;

    public void Add(string firstName,string lastName,string hair,string eyes,int age,int height,int weight,string sex,string job)
    {
        Adult adultToAdd = new Adult()
        {
            FirstName = firstName,
            LastName = lastName,
            HairColor = hair,
            EyeColor = eyes,
            Age = age,
            Height = height,
            Weight = weight,
            Sex = sex,
            JobTitle = job

        };
        AdultService.Add(adultToAdd);
    }
}