@page "/"
@using Auth

@inject AuthenticationStateProvider AuthenticationStateProvider;
<AuthorizeView Policy="MustBeLoggedIn">
   <NotAuthorized>
      <h1>Hello, please log in!</h1>
   </NotAuthorized>
   <Authorized>
      <h1>Hello, @getName()!</h1>
   </Authorized>
</AuthorizeView>


Assingment 1 - DNP - VIA University College - Bogdan Mezei (293137)

@code {

   private string userName;
   
   private string getName()
   {
      return ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[1].Value + " " + 
             ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[2].Value;
   }


}