@page "/"
@using Auth

@inject AuthenticationStateProvider AuthenticationStateProvider;
<AuthorizeView Policy="MustBeLoggedIn">
   <NotAuthorized>
      <h1 style="font-size: 56px; font-weight: bold; color: #0B4E58">Hello, please log in!</h1>
   </NotAuthorized>
   <Authorized>
      <h1 style="font-size: 56px; font-weight: bold; color: #0B4E58">Hello, @getName()!</h1>
   </Authorized>
</AuthorizeView>
<span style="font-size: large; font-weight: bold; color: #0B4E58">Assingment 1 - DNP - VIA University College - Bogdan Mezei (293137)</span>

@code {

   private string userName;
   
   private string getName()
   {
      return ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[1].Value + " " + 
             ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[2].Value;
   }


}