@using LoginComponent
@inherits LayoutComponentBase

<div class="sidebar" style="background: #10707f">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>